<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 自动扫描，注意这个指的是要包的前缀，注意这个设置不要设错了，比如后面加了项目名，那就是错的 -->
    <context:component-scan base-package="com.spdb.lq" />
    <!-- 引入配置文件 -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath*:properties/jdbc.properties"/>
    </bean>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
        <!--初始化连接大小-->
        <property name="initialSize" value="${initialSize}"/>
        <!--连接池最大数量-->
        <property name="maxActive" value="${maxActive}"/>
        <!--连接池最大空闲-->
        <property name="maxIdle" value="${maxIdle}"/>
        <!--连接池最小空闲-->
        <property name="minIdle" value="${minIdle}"/>
        <!--获取连接最大等待时间-->
        <property name="maxWait" value="${maxWait}"/>
    </bean>

    <!--spring与mybatis完美整合，不需要mybatis的配置映射文件-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--自动扫描mybatis-config.xml文件，注意这个也是包的路径，这些路径与src、或者项目名无关-->
        <property name="mapperLocations" value="classpath*:mappers/*.xml"/>
    </bean>

    <!--DAO接口所在包名，Spring会自动查找其下的类-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.spdb.lq.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <!--事务管理transaction manager,use JtaTransactionManager for global tx-->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>